.App {
  text-align: center;
}

button {
  margin: 2rem;
}

.StudentsContainer {
  width: fit-content;
  margin: 0 auto;
}

.GradeContainer {
  width: fit-content;
  margin: 0 auto;
}

ul {
  margin-bottom: 1rem;
}